.Map {
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

.Map .Gutter {
    font-size: 4pt;
    background-color: #999;
    overflow: hidden;
}

.Map .Gutter.X {
    width: 16px;
    height: 8px;
}

.Map .Gutter.Y {
    width: 8px;
    height: 16px;
}

.MapTile {
    height: 16px;
    width: 16px;
    font-size: 4pt;
}

.MapTile.GRASS {
    background-color: #0f0;
}

.MapTile.WATER {
    background-color: #00f;
}

.MapTile.ROCK {
    background-color: #999;
}

.MapTile .Enemy {
    font-size: 10pt;
    padding: 2px;
    color: #f00;
}