.App {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.LeftColumn {
  grid-column: 1;
}

.MapControls {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding-top: 15vh;
}

.MapControls .CenterPlayer {
  grid-column: 2;
  grid-row: 2;
}

.MapControls .Up {
  grid-column: 2;
  grid-row: 1;
}

.MapControls .Left {
  grid-column: 1;
  grid-row: 2;
}

.MapControls .Right {
  grid-column: 3;
  grid-row: 2;
}

.MapControls .Down {
  grid-column: 2;
  grid-row: 3;
}

.Editor {
  width: 70vw;
  height: 50vh;
  grid-column: 2;
}

.GameOutput {
  /* width: 70vw; */
  height: calc(17px*16);
  display: flex;
  align-items: stretch;
  grid-column: 2;
}

.Controls {
  grid-column: 2;
}

.GameOutput .TabContainer {
  flex-grow: 1;
  height: 100%;
}

.GameOver {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.GameOver .Label {
  padding: 1rem;
  color: #f33;
}

.StatusPage {
  padding: 1rem;
}