.App {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto;
}

.Editor {
  width: 70vw;
  height: 50vh;
}

.GameOutput {
  width: 70vw;
  height: calc(16px*16);
  display: flex;
  align-items: stretch;
}

.GameOutput .TabContainer {
  flex-grow: 1;
  height: 100%;
}

.StatusPage {
  padding: 1rem;
}